%h1 Listing terminologies

%table
  %tr
    %th Term
    %th 
    %th Desc
    %th
    %th

  - @terminologies.each do |terminology|
    %tr
      %td
        .tip_term= terminology.term
        %span.tip= terminology.desc
      %td= link_to 'Show', terminology

%br

= link_to 'New Terminology', new_terminology_path
